/*
  Created by Pitichampi
  For freenet
  Date: 23/07/2019
  Time: 10:22
  
  --- test ---
  
        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'
  
 */

//VARS

//colors
$vert:green;
$blanc:white;
$noir:black;
$rouge:red;
$orange:orange;
$bleu:blue;
$violet:purple;
$gris:grey;
$grisc:lighten($gris, 10%);
$grisf:darken($gris, 10%);
$jaune:yellow;


//STYLE
#menus{
  &_1{
    display: table;
    width: 100%;
    margin: 15px 0;
    padding-left: 0;
    .elt{
      display: table-cell;
      &:first-child{
        background-color: $vert;
        color: $blanc;
      }
      &:hover{
        background-color: $bleu;
        color: $blanc;
      }
      &:focus{
         background-color: $orange;
         color: $blanc;
       }
      &:active{
        background-color: $rouge;
        color: $blanc;
      }
      //Notice : Order matters ! Firstly you hover the element, then you focus it, and the you click it. Most of the time the behaviour is the same for hover and focus.

    }
  }
  &_2{
    display: table;
    width: 100%;
    margin: 15px 0;
    padding-left: 0;
    .elt{
      background-color: $bleu;
      color: $blanc;
      display: table-cell;
      border: 1px solid $noir;
      &[href]{
        border-radius:5px;
      }
      &[href="off"]{
        background-color: $grisf;
        color: $grisc;
      }
      &[href="on"]{
        background-color: $vert;
      }
      &[href~="on"]{
        color: $rouge;
      }
    }
  }
}
#para{
  &_pseudo{
    p.par{
      width: 400px;
      border : 1px solid $noir;
      padding: 15px;
      &_1{
        &:before{
          display: block;
          height: 100px;
          width: 100px;
          background-color: $vert;
          content: '';
        }
      }
      &_2{
        &:after{
          display: block;
          height: 100px;
          width: 100px;
          background-color: $rouge;
          content: '';
        }
      }
      &_3{
        &:first-letter{
          color: $orange;
        }
      }
      &_4{
        &:first-line{
         color:$violet
        }
      }
    }
  }
}